<div class="row col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <%= form_tag login_path , { :class => 'form-horizontal' , :role => 'form' } do %>
      <div class="form-group">
        <%= label_tag :username , raw(icon("account_circle")), :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= text_field_tag :username , params[:username] , :class => 'form-control', :required => true, :placeholder => 'Username' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :password , raw(icon("vpn_key")), :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= password_field_tag :password , nil , :class => 'form-control', :required => true, :placeholder => 'Password' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Login
          <i class="material-icons right v-bottom">send</i>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
  </div>

  <p class="text-center lead">
    <%= link_to 'Sign up', signup_path, :class => "text-success" %>
    |
    <%= link_to 'Forgot Password?', forgot_password_path , :class => "text-muted" %>

  </p>

</div>
