<% if @shared_albums && @shared_albums.any? %>
  <div class="well well-sm">
    <span class="lead">Shared with me <span class="text-muted">(<%= @shared_albums.count %>)</span></span>
  </div>
  <div class="row col-xs-12">
    <% @shared_albums.each do |shared_album| %>
      <% @assets = Album.find(shared_album.album_id).assets.with_tag(Tag.find(shared_album.tag_id)) %>
          <% if @assets.any? %>
                 <div class="col-xs-12 col-md-3">
                   <a href="<%= shared_album_path(:shared_album_id => shared_album.id) %>" class="thumbnail">
                     <%= image_tag @assets.last.image.url(:small) %>
                   </a>
                   <div class="caption">
                     <h5 class="text-center">
                       <%= Album.find(shared_album.album_id).title %> - <%= Tag.find(shared_album.tag_id).name %>
                       <a role="button" data-toggle="collapse" href="#sharedAlbumInfo-<%= shared_album.id %>" aria-expanded="false" aria-controls="sharedAlbumInfo">
                         <i class="material-icons prefix flat-silver icon-button" style="vertical-align:bottom">info</i>
                      </a>
                     </h5>
                      <div class="collapse" id="sharedAlbumInfo-<%= shared_album.id %>">
                        <div class="well">
                          <table class="table table-striped">
                              <caption>Information</caption>
                              <tbody>
                                <tr>
                                  <td><i class="material-icons prefix flat-silver">access_time</i></td>
                                    <td><%= time_ago_in_words(shared_album.created_at) %> ago</td>
                                </tr>
                                <tr>
                                  <td><i class="material-icons prefix flat-silver">person</i></td>
                                  <td><%= User.find_by_id(shared_album.user_id).fullname %>
                                </tr>
                                <tr>
                                  <td><i class="material-icons prefix flat-silver">collections</i></td>
                                  <td><%= @assets.count %>
                                </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>
                   </div>
                 </div>
          <% end %>
    <% end %>
  </div>
<% end %>
