<div aria-labelledby="AlbumShareModal" class="modal fade album-share-modal" id="album-share-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title lead">Share</h4>
     </div>
      <div class="modal-body">

        <p class="text-muted"> Please enter the Distill username of the person you would like to share this album with.</p>
        <p class="bg-danger text-center" id="album-share-error"></p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10 col-lg-8">
              <input type="text" class="form-control" id="album-share-username" data-album-id="<%= @album.id %>" data-tag-id="<%= @tag.id %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-primary" id="album-share-button">Share</button>
              <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>
        <% if @shared_instances.any? %>
        <p class="text-warning">Currently Shared with:</p>
        <ul>
          <% @shared_instances.each do |instance| %>
            <li>
              <%= User.find_by_id(instance.shared_with).fullname %> (<i><%= User.find_by_id(instance.shared_with).username %></i>) <i class="material-icons prefix flat-red icon-button delete-shared-album" style="vertical-align:bottom" id="delete-shared-album" data-shared-album-id = "<%= instance.id %>">delete</i>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
