<div class="well well-sm col-xs-12">
  <span class="lead"><%= Album.find(@shared_album.album_id).title %> - <%= Tag.find(@shared_album.tag_id).name %></span>
  <i class="material-icons prefix flat-silver" style="vertical-align:top">folder_shared</i>
  <hr />
  <div class="col-xs-12 text-center">
    <div class="col-xs-12 col-sm-4">
      <i class="material-icons prefix flat-blue" style="vertical-align:top">access_time</i>
      <%= time_ago_in_words(@shared_album.created_at) %> ago
    </div>
    <div class="col-xs-12 col-sm-4">
      <i class="material-icons prefix flat-green" style="vertical-align:top">person</i>
      <%= User.find_by_id(@shared_album.user_id).fullname %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <i class="material-icons prefix flat-turquoise" style="vertical-align:top">collections</i>
      <%= @assets.count %>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <% if @assets.any? %>
  <div class="clearfix mosaicflow">
    <%= render @assets %>
  </div>
  <% end %>
</div>
<%= render partial: 'assets/modal' %>
