<div class="row col-lg-8 col-md-6 col-xs-10 col-lg-offset-2 col-md-offset-3 col-xs-offset-1">
	<% if @user.errors.any? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
 			 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 			 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 			 <strong>Oops!</strong>
 			  <% for message in @user.errors.full_messages %>
		  		<li><%= message %></li>
			  <% end %>
		</div>
	<% end %>
	<div class="panel panel-success">
  		<div class="panel-heading">
    		<h3 class="panel-title">Password Reset (Step 3/3)</h3>
  		</div>

	  	<div class="panel-body">
			<%= form_for @user , :url => reset_password_path , :html => { :class => 'form-horizontal' } do |f| %>
			    <div class="form-group">
			        <%= f.label :password , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
                  <%= hidden_field_tag("username", @user.username) %>
			            <%= f.password_field :password , :class => 'form-control', :required => true, :pattern => "(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$", :title => "It should be more than 6 characters and should contain 3 of the options (Uppercase characters, Lowercase characters, Numbers, or Special characters)" %>
			        </div>
			    </div>

			    <div class="form-group">
			        <%= f.label :password_confirmation , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.password_field :password_confirmation , :class => 'form-control', :required => true %>
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="col-sm-offset-3 col-sm-9">
			            <%= submit_tag "Update" , :class => 'btn btn-success' %>
			        </div>
			    </div>
			<% end %>
		</div>
  	</div>
</div>
