<div class="row col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Forget Password (Step 2/3)</h3>
    </div>
    <div class="panel-body">
      <%= form_tag verify_security_answer_path , { :class => 'form-horizontal' , :role => 'form' } do %>
      <div class="form-group">
        <div class="col-sm-12">

          <p><%= @user.security_question %></p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= hidden_field_tag("username", @user.username) %>
          <%= text_field_tag :security_answer , params[:security_answer] , :class => 'form-control', :required => true, :placeholder => 'Answer' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          Next
          <i class="material-icons right v-bottom">send</i>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
