<div class="row col-lg-8 col-md-6 col-xs-10 col-lg-offset-2 col-md-offset-3 col-xs-offset-1">
	<% if @user.errors.any? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
 			 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 			 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 			 <strong>Oops!</strong>
 			  <% for message in @user.errors.full_messages %>
		  		<li><%= message %></li>
			  <% end %>
		</div>
	<% end %>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Sign up!</h3>
  		</div>

	  	<div class="panel-body">
			<%= form_for @user , :url => create_user_path, :html => { :class => 'form-horizontal' } do |f| %>
			    <div class="form-group">
			        <%= f.label :first_name , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :first_name , :class => 'form-control', :required => true,  :pattern => ".{1,25}", :title => "1 to 25 characters" %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label :last_name , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :last_name , :class => 'form-control', :required => true,  :pattern => ".{1,25}", :title => "1 to 25 characters" %>
			        </div>
			    </div>

          <div class="form-group">
              <%= f.label :username , :class => 'col-sm-3 control-label' %>
              <div class="col-sm-9">
                  <%= f.text_field :username , :class => 'form-control', :required => true,  :pattern => "[^ ]{7,12}", :title => "7 to 12 characters with no spaces" %>
              </div>
          </div>

			    <div class="form-group">
			        <%= f.label :password , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.password_field :password , :class => 'form-control', :required => true,  :pattern => "(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$", :title => "It should be more than 6 characters and should contain 3 of the options (Uppercase characters, Lowercase characters, Numbers, or Special characters)" %>
			        </div>
			    </div>

			    <div class="form-group">
			        <%= f.label :password_confirmation , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.password_field :password_confirmation , :class => 'form-control', :required => true %>
			        </div>
			    </div>

			    <div class="form-group">
			        <%= f.label :email , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :email , :class => 'form-control', :required => true, :type => "email" %>
			        </div>
			    </div>

			    <div class="form-group">
			        <%= f.label :security_question , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			       		<%= f.select(:security_question, options_for_select(security_questions, @user.security_question), {} , {:class => 'form-control', :required => true}) %>
			        </div>
			    </div>

          <div class="form-group">
              <%= f.label :security_answer , :class => 'col-sm-3 control-label' %>
              <div class="col-sm-9">
                  <%= f.text_field :security_answer , :class => 'form-control', :required => true %>
              </div>
          </div>

			    <div class="form-group">
			        <div class="col-sm-offset-3 col-sm-9">
			            <%= submit_tag "Register" , :class => 'btn btn-primary' %>

			            <%= link_to 'Cancel', root_url, :class => 'btn btn-default' %>
			        </div>
			    </div>
			<% end %>
		</div>
  	</div>
</div>
