<a href="<%= album_path(album) %>">
  <div class="album-container col-md-4 col-sm-6">
    <% if album.assets.any? %>
    <div class="album-thumbnail" data-image="<%= album.assets.last.image.url(:medium) %>">
      <% else %>
      <div class="album-thumbnail" data-image="<%= image_path("no_image.png") %>">
        <% end %>
        <div class="album-container-footer col-xs-12">
          <span class="col-xs-6 album-name-container"><%= album.title %></span>
        </div>

      </div>
    </div>
  </a>
