<div class="new-album-container col-md-4 col-sm-6">
  <div class="new-album-thumbnail">
    <div class="new-album-container-footer col-xs-12">
      <div class="col-xs-10" id="new-album-form-container">
        <%= form_for @album, :html => { :class => 'create-album-form' } do |f| %>
        <%= f.text_field :title, :placeholder => "New album name", :id => 'album_title' , :required => true, :pattern => ".{1,30}", :title => "1 to 30 characters" %>
      </div>
      <div class="col-xs-2">
        <div id="create-album-button">
          <i class="material-icons prefix flat-red icon-button">done</i>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
