<div class="row col-xs-12" id="album-assets-container" data-album-id="<%= @album.id %>">

  <div class="well well-sm">
    <span class="lead" id="album-title"><%= best_in_place @album, :title, :place_holder => 'Click me to edit' %></span>
    <div class="pull-right">
      <%= link_to raw('<i class="material-icons prefix flat-midnight-blue icon-button">folder</i>'), distilled_album_path(:album_id => @album.id) %>
      <%= link_to raw('<i class="material-icons prefix flat-green icon-button">style</i>'), distill_album_path(params[:id]) %>

      <%= link_to raw('<i class="material-icons prefix flat-turquoise  icon-button">cloud_download</i>'), download_album_path(:album_id => @album.id, :tag_id => "all") %>
      <span class="delete-album-button">
        <i class="material-icons prefix flat-red icon-button">delete</i>
      </span>

      <%= link_to raw('<i class="material-icons prefix flat-blue icon-button">add_circle</i>'), "", :data => {:toggle => "modal", :target =>".image-uploader-modal"} %>
      <span>
        <%= link_to('delete album', album_path(@album), :class => "no-show delete-album",
              method: :delete ) %>
      </span>
    </div>
  </div>
  <div class="col-xs-12">
    <% if @assets.any? %>
    <div class="clearfix mosaicflow">
      <%= render @assets %>
    </div>
    <% else %>
    <div class="well text-center text-muted">
      You currently have no photos. Click on
      <i class="material-icons prefix flat-blue icon-button-disabled">add_circle</i>
      button to add photos.
    </div>
    <% end %>
  </div>

</div>

<div aria-labelledby="ImageUploaderModal" class="modal fade image-uploader-modal" id="image-uploader-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title lead">Photos Uploader</h4>
     </div>
      <div class="modal-body">
      <%= render partial: "assets/new", object: [@album, @asset] %>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
    </div>
    </div>
  </div>
</div>

  <%= render partial: 'assets/modal' %>
