<div class="mosaicflow__item">
    <a href="#" class="image-thumbnail" data-asset-counter = "<%= asset_counter %>" data-asset-path="<%= album_asset_path(@album,asset) %>" data-asset-id="<%= asset.id %>" data-album-id="<%= @album.id %>" data-image="<%= asset.image.url(:large) %>">  <%=	image_tag(asset.image.url(:medium)) %> </a>
</div>
