<div id="sg-overlay-modal">
  <div class="col-xs-12 sg-overlay-modal-header">
    <i class="material-icons prefix flat-silver pull-right icon-button" id="sg-overlay-modal-close-button">close</i>
  </div>


<div class="sg-overlay-content-container">
          <div  id="previous-button">
            <p class="flat-silver icon-button modal-navigation-button">
              <
            </p>
          </div>
          <%= image_tag("loader.gif", :id => "image-loader-gif") %>
          <span class="centered" id="visual_feedback_for_tag"></span>
          <div class="sg-overlay-modal-image-container" style="height:80vh">
              <img id="sg-overlay-modal-image" src="" alt />
          </div>
          <div id="next-button">
                <p class="flat-silver icon-button modal-navigation-button">
                  >
                </p>
          </div>
</div>
<div class="sg-overlay-modal-footer">
  <ul class="tags" id="tags-list">
  </ul>
<i class="material-icons prefix flat-silver icon-button" id="sg-overlay-modal-delete-button">ic_delete</i>
</div>
</div>
