// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flat-red {
  color: #c0392b;
}

.flat-blue {
  color: #4183D7;
}

.flat-silver {
  color: #bdc3c7;
}

.flat-green {
  color: #2ecc71;
}

.flat-midnight-blue {
  color: #2c3e50;
}

.flat-turquoise {
  color: #1abc9c;
}

.white {
  color:white
}

.icon-button:hover {
  cursor: pointer;
  color: #F2784B;
}

.no-show {
  display:none;
}

.mosaicflow__column { float:left; }
.mosaicflow__item img { display:block; width:100%; height:auto; }

.icon-button-disabled {
  vertical-align: bottom;
}

#album-title {
  border-bottom: 1px dotted gray;
}

.form_in_place input {
  outline-width: 0;
  line-height: 26px;
  background-color: #f9f9f9;
}

.dropzone {
  border: 2px dotted rgba(0, 0, 0, 0.3);
  background: whitesmoke;
}

.dropzone .dz-preview.dz-image-preview {
    background-color: whitesmoke;
}


body {
   height:100%;
   margin:0;
   padding:0;
}

#sg-overlay-modal {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: rgba(0,0,0,.95);
     display:flex;
     flex-direction: column;
     align-content: center;
}

.sg-overlay-modal-header {
  padding: 5px;
}
.sg-overlay-modal-image-container img {
      height: auto;
      width: auto;
      max-height:100%;
      max-width:100%;
}

.sg-overlay-modal-footer {
}

.sg-overlay-content-container {
  display:flex;
  flex-grow: 2;
  align-content: center;
}

.sg-overlay-modal-image-container {
  flex-grow: 2;
}

.sg-overlay-content-container > div {
  margin: auto;
}

.modal-navigation-button{
  padding:5px;
  font-size: 26px;
}

#image-loader-gif{
  visibility: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

//Tags

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  padding-bottom: 10px;
}

.tags li {
display:inline;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: black;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: black;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tags a:hover {
  color:#999;
  text-decoration: none;
  cursor: default;
}

//
// .tag:hover {
//   background-color: crimson;
//   color: white;
// }
//
// .tag:hover::after {
//    border-left-color: crimson;
// }
