@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";
@import "dropzone";
@import "sweetalert";
@import "sessions";
@import "users";
@import "albums";
@import "filters";

.navbar-brand
{
    padding-top: 0;
}

.navbar-brand img {
  padding:7px 0px;
  width: 50%;
}
