// Place all the styles related to the Filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#available-filters-panel{
  padding: 4px 15px;
}

.success-contrast {
  color: #98541A;
}


.silver-bg {
  background-color: #bdc3c7;
}


.distilled-album-name {
  padding:20px 10px;
  color:white;
}

a.add_fields {
  display:none;
}
