// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.v-bottom {
  vertical-align: bottom;
}

body#sessions.new, body#sessions.create {
  background-image: url("bg.jpg");
  background-size: 100%;
}

#sessions.new .panel, #sessions.new .panel, #sessions.new .navbar, #sessions.new .navbar {
  opacity: .9;
}


#sessions.new .panel-heading, #sessions.create .panel-heading  {
  background-color: rebeccapurple;
}
