// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Hind);

input[type=file]#user_avatar {
    display:block;
    height:0;
    width:0;
}

#user-avatar:hover {
  cursor:pointer;
}

.user-avatar-container {
  position: relative;
  height: 100px;
}

.user-avatar-container #user-avatar {
  z-index: 0;
  position: absolute;
}

.user-avatar-container #user-avatar-edit-button {
  position: absolute;
  z-index: 99;
  margin-top: 85px;
  margin-left: 30px;
  opacity: .8;
}

.album-container {
  border: 1px solid #bdc3c7;
  text-align: center;
  height: 275px;
  padding: 0px;
  background-color: whitesmoke;
}

.album-container .album-thumbnail {
  height: 100%;
  margin: 0px;
  background-size: cover;
  background-color: #ecf0f1;
  transition: all .5s ease-in-out;
  color: black;
}

.album-container .album-thumbnail:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0px 2px 2px #888888;
}

.album-container-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  color:#bdc3c7;
  font-family: 'Hind', sans-serif;
}

.new-album-container {
  border: 1px dashed black;
  text-align: center;
  height: 275px;
  padding: 0px;
}

.new-album-container .new-album-thumbnail {
  height: 80%;
  margin: 0px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("add_album.png");
  transition: all .5s ease-in-out;
  color: black;
}

.new-album-container-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
  text-align: left;
  background-color: whitesmoke;
  color:#bdc3c7;
  font-family: 'Hind', sans-serif;
}

#album_title {
  width: 100%;
  line-height: 40px;
  padding:3px 10px;
  color: black;
  font-size: 1em;
  background-color: transparent;
}

#album_title:focus {
  outline-width: 0;
}

#new-album-form-container {
  padding:0px;
}

#create-album-button {
  text-align: center;
}

#create-album-button i {
  vertical-align: middle;
  font-size: 1.5em;
}

.album-name-container {
  overflow: hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
   width:100%;
   display:inline-block;
}
