<tr>
  <td><%= link_to filter.name, edit_album_filter_path(:id => filter.id) %></td>
  <td><%= tag_names_for_filter(filter) %></td>
  <td>
    <label>
      <input type="checkbox" id="<%= filter.name %>" class="filters-selection-checkboxes" value="<%= filter.id %>" data-album-id="<%= album.id %>" <% does_filter_belong_to_album(filter.id,album.id) %>>
    </label>
  </td>
</tr>
