<div class="col-xs-12">
		<%= form_for [@album, @filter], :html => { :class => 'form-horizontal' } do |f| %>
		    <div class="form-group col-xs-8">
		        <%= f.label :name, "Filter Name" , :class => 'col-sm-3 control-label' %>
		        <div class="col-sm-9">
		            <%= f.text_field :name , :class => 'form-control', :required => true, :pattern => ".{1,15}", :title => "1 to 15 characters" %>
		        </div>
		    </div>
	      <div class="col-xs-12">
					<div class="well well-sm ">
						Tags
						<span class="pull-right">
							<%= link_to raw('<i class="material-icons prefix flat-turquoise icon-button">add_circle</i>'), "", :id=>"add_tag" %>
						</span>
					</div>
	          <%= f.fields_for :tags do |tag| %>
	          	<%= render 'tag_fields', f: tag %>
	          <% end %>
						<%= link_to_add_tags "Add Tag", f, :tags %>
	      </div>

		    <div class="form-group">
		        <div class="col-xs-2 col-xs-offset-10">
		            <%= submit_tag "Save" , :class => 'btn btn-primary' %>
		        </div>
		    </div>
		<% end %>
</div>
