<div class="fieldset">
    <div class="panel panel-default col-xs-12 col-sm-8 col-md-5">
        <div class="panel-body">
              <div class="form-group">
                <%= f.label :name , raw(icon("bookmark")), :class => 'col-xs-2 control-label' %>
                  <div class="col-xs-10">
                      <%= f.text_field :name , :class => 'form-control tag_name_field', :placeholder => "Tag Name", :required => true %>
                  </div>
              </div>
              <div class="form-group">
                  <%= f.label :name , raw(icon("keyboard")), :class => 'col-xs-2 control-label' %>
                  <div class="col-xs-10">
                      <%= f.text_field :keyboardShortcut , :class => 'form-control keyboard_shortcut_field', :placeholder => "Keyboard Shortcut", :required => true %>
                  </div>
              </div>
              <%= f.hidden_field :_destroy %>
              <%= link_to raw('<i class="material-icons prefix success-contrast icon-button">delete</i>'),"#", class: "remove_fields pull-right" %>
        </div>
     </div>
     <div class="col-xs-1"></div>
</div>
