<div class="well well-sm">
  <span class="lead"><%= link_to @album.title, @album %> > <%= link_to "Distilled Albums", distilled_album_path %> > <%= @tag.name %></span>
  <div class="pull-right">
    <%= link_to raw('<i class="material-icons prefix flat-blue icon-button">folder_shared</i>'), "", :data => {:toggle => "modal", :target =>".album-share-modal"} %>
    <%= link_to raw('<i class="material-icons prefix flat-midnight-blue icon-button">cloud_download</i>'), download_album_path %>
  </div>
</div>
<div class="col-xs-12">
  <% if @assets.any? %>
  <div class="clearfix mosaicflow">
    <%= render @assets %>
  </div>
  <% else %>
  <div class="well text-center text-muted">
    You currently have no photos with the tag - <span class="text-primary"> <b><%= @tag.name %></b></span>
  </div>
  <% end %>
</div>
<%= render partial: 'assets/modal' %>
<%= render partial: 'shared_albums/new' %>
