<div class="well well-sm">
  <span class="lead"><%= link_to @album.title, @album %> > Distilled Albums</span>
</div>
<% @filters.each do |f| %>
<div class="row col-xs-12">
        <div class="row col-xs-12">
            <p class="silver-bg">  <span class="lead distilled-album-name"><%= f.name %></span></p>
       </div>
      <% f.tags.each do |t| %>
         <% if @album.assets.with_tag(t).any? %>
               <div class="col-xs-3">
                 <a href="<%= distilled_assets_path(:tag_id => t.id) %>" class="thumbnail">
                   <%=	image_tag(@album.assets.with_tag(t).last.image.url(:small)) %>
                 </a>
                 <div class="caption">
                   <h5 class="text-center"><%= t.name %> (<%= @album.assets.with_tag(t).count %>)</h5>
                 </div>
               </div>
         <% end %>
      <% end %>
</div>
<% end %>
