<div class="row col-xs-12">
  <div class="well well-sm">
    <span class="lead"><%= link_to @album.title, @album %> > <%= link_to "Filters", distill_album_path(@album) %></span>
  </div>
  <% if @filter.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
       <strong>Oops!</strong>
       <% @filter.errors.each do |field, msg| %>
          <li><%= msg %></li>
       <% end %>
    </div>
  <% end %>
</div>
<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">Update Filter</span>
      </div>

      <div class="panel-body">
          <%= render partial: "form", object: @filter %>
      </div>
  </div>

</div>
