<div class="row col-xs-12">
  <div class="well well-sm">
    <span class="lead"><%= link_to @album.title, @album %> > Filters</span>
  </div>
  <div class="row col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-success">
      <div class="panel-heading" id="available-filters-panel">
        <span class="panel-title">Available Filters</span>
        <span class="pull-right">
          <%= link_to raw('<i class="material-icons prefix success-contrast icon-button">add_circle</i>'), new_album_filter_path %>
        </span>
      </div>
      <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Filter</th>
                <th>Tags</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'filter', collection: @filters, locals: {album: @album} %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
