<!DOCTYPE html>
<html>
<head>
  <title>Distill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/icon?family=Material+Icons' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <%=	image_tag("logo.png") %>
          </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <% if current_user %>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%=	image_tag(current_user.avatar.url(:medium),  class: "img-circle", size: "25") %>
                  <span style="vertical-align:bottom"><%= current_user.fullname %></span>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to raw(icon("edit","Edit Account","v-bottom")), edit_user_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to raw(icon("exit_to_app","Logout","v-bottom")), logout_path %></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        <% end %>

      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
		    <div class="row col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1">
			       <% flash.each do |k, v| %>
				         <div class="alert alert-<%= k %> text-center alert-dismissible" role="alert">
					       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= v %></div>
					<% end %>
				</div>

        <%= yield %>
   </div>


</body>
</html>
